
<ion-header>
  <ion-toolbar>
    <ion-title>
      Puppy Potty Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <img src="..\assets\puppypee.jpg" width="250" 
  height="330"  alt="PeePee">
  <ion-grid>
    <ion-row>
      <ion-col> 
        
     

        <ion-button [routerLink]="['/rg']" expand="block" color="primary">Register</ion-button>
        <br>
        <span  class="or">or</span>
        <span  class="already">Already a user?</span>
        <br>
        <ion-button [routerLink]="['/login-user']" expand="block" color="danger">Sign In</ion-button>
        
        
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>